*{
    border: 0;

}
html,body{
    background: linear-gradient(90deg,#0b0817,#2631b2);
    overflow-x: hidden;
}
.logo-image{
    width: 164px;
    padding: 4px;



}
.top-section{
    display: flex;
    justify-content: space-around;
    margin: 39px;
    padding-right: 600px;
    gap: 70px;
    
    
    
    
}
.links{
   color: rgb(249, 243, 243);
   padding: 10px;
   display: flex;
   gap: 32px;
   font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
   letter-spacing: 0.08em;
}
.login-btn{
    white-space: nowrap;
    background-color: white;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 550;
    font-size: 15px;
    margin-left: 12px;
    letter-spacing: 0.04em;

    
    
}
.arrow{
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
    position: relative;
    top: -6px;
    color: rgb(165, 164, 164);
    
    
}
.home-text{
    color: rgb(255, 255, 255);
    margin-left: 130px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -0.12em;
    position: relative;
    top: 50px;
    line-height: 0.9;
    
    
}
.small-text{
    font-family: "Inter", Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    top: -30px;
    
    
    
}
.home{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: visible;
}
.shiny{
    position: absolute;
    left: 30%;
    bottom: 30px;
}
.trophy{
    position: absolute;
    width: 160px;
    left: 90%;
    top: 130px;
}
.crown{
    position: absolute;
    width: 200px;
    left: 35%;
    bottom: 400px;
}
.boy{
    position: absolute;
    width: 150px;
    left: 84%;
    top: 300px;
    
}
.girl{
    position: absolute;
    width: 160px;
    left: 44%;
    top: 300px;
}
.home-image{
    width: 580px;
    height: auto;
    margin-right: 100px;
    margin-left: 50px;
}
.download-icon{
    width: 30px;
    position: relative;
    top: 6px;
    margin-right: 10px;
}
.btn-1{
    font-size: 23px;
    padding: 15px 27px;
    border-radius: 10px;
    color: #2b2e51;
    letter-spacing: 0.04em;
    font-weight: 400;
    }
.btn-2{
    font-size: 23px;
    padding: 20px 27px;
    border-radius: 10px;
    color: #f4f4f5;
    background-color: #4e58ca;
    letter-spacing: 0.04em;
    font-weight: 400;
    }
.btns{
    display: flex;
    gap: 30px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
.violet-box{
    width: 84%;
    height: 600px;
    margin: 100px;
    border-radius: 100px;
    background-color: rgba(81,90,190,0.7);
    position: relative;
    overflow: hidden;
    display: flex;
    backdrop-filter: blur(10px);

}
.video-card{
    width: 59%;
    height: 540px;
    border-radius: 100px;
    overflow: hidden;
    margin: 27px;
}
.video-card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-text{
    position: relative;
    top: 130px;
    left: 20px;
}

.feature-text h1{
    font-size: 42px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -3px;
    margin-bottom: 0;
    line-height: 0.9;


}
.feature-text p{
    color: white;
    font-size: 19px;
    position: relative;
    letter-spacing: 1px;
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.4;
}
.bg-elements{
    position: relative;
}
.teddy{
    position: absolute;
    left: 70%;
    top: 18px;
    width: 150px;

}
.shiny-2{
    position: absolute;
}
.ball{
    position: absolute;
    width: 230px;
    top: 540px;
}